.HomeAbstractWrapper {
  width: 80%;
  margin: auto;
  padding: 19px 0;
}

.textContainer {
  padding: 0 17px 17px 17px;
  text-align: center;
}

.header {
  color: #222;
  font-size: 22px !important;
  font-family: futura-pt;
  line-height: 1.2em;
  letter-spacing: 1px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 11px !important;
}

.subHeader {
  color: #222;
  margin-top: 19px;
  font-size: 19px !important;
  font-weight: 300;
  font-family: futura-pt;
  line-height: 1.2em;
  letter-spacing: 1px;
  font-style: normal;
}
