.upperContainer {
  transform: translate(0, 0);
}

.timeLine {
  transform: translate(0, 0);
}

.scatterChart {
  transform: translate(0, 100px);
}

.lowerContainer {
  transform: translate(0, 400px);
}

.sunContainer {
  transform: translate(0, 0);
}

.barContainer {
  transform: translate(750px, 150px);
}

.barBody {
  transform: translate(0, 0);
}

.barAxis {
}

.barLabels {
  text-anchor: end;
  font-size: 10px;
  font-weight: 300;
  fill: rgb(41, 41, 41);
  font-family: AtlasGrotesk, sans-serif;
}

.barTitle {
  text-anchor: middle;
  font-size: 14px;
  font-family: Oswald;
  width: 300;
  fill: #525252;
}

.line {
  stroke-width: 2;
}

.rect {
  fill: white;
  stroke: none; /* stroke-width: 5; */
  fill-opacity: 0.1; /* stroke-opacity: 0.9; */
}

.upperYAxis path {
  stroke: white;
}

.upperYAxis line {
  fill: #666;
}

.upperYAxis text {
  fill: #666;
  font-weight: normal;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

.upperXAxis path {
  stroke: white;
}

.upperXAxis line {
  fill: #666;
}

.upperXAxis text {
  fill: #666;
  font-weight: normal;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

.timeLineText {
  fill: #666;
  font-weight: normal;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

/* Tooltips */

.tooltip {
  text-align: center;
  z-index: 1000;
  position: absolute;
  opacity: 0;
}

.tooltipContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  width: 250px;
  left: -125px; /* 250/2 */
  line-height: 16px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(200, 200, 200, 0.5);
  cursor: default;
  pointer-events: none;
}

.tooltipContainerUpper {
  flex: 1;
}

.tooltipTime {
  position: absolute;
  text-transform: uppercase;
  font-size: 12px;
  color: #a2a2a2;
  margin-top: 5px;
  margin-bottom: 4px;
  text-align: left;
  font-weight: 500;
}

.tooltipSkill {
  color: #333;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 4px;
  font-weight: 500;/* text-align: center; */
}

.tooltipRule {
  height: 1px;
  margin: 1px auto 3px;
  background: #d1d1d1;
  width: 200px;
}

.tooltipEorwname {
  font-size: 14px;
}

.tooltipShortdescription {
  color: #171717;
  font-size: 12px;
  font-weight: 600;
  margin: 10px 20px;
}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.5;
  shape-rendering: crispEdges;
  z-index: -100;
}

.grid path {
  stroke-width: 0;
}
