.line {
  stroke-width: 2;
}

.outerContainer {
  position: relative;
}

.baseboard {
  background-color: #e8e8ea;
  width: 800px;
  height: 950px;
}

.wrapper {
  background: gary;
  border: 1px dashed black;
}

.leftWrapper {
  transform: translate(0, 0);
}

.bioWrapper {
  transform: translate(0, 0);
}

.skillPieWrapper {
  transform: translate(0, 300px);
}

.mainWrapper {
  transform: translate(200px, 0);
}

.timeWrapper {
  transform: translate(700px, 0);
}

.timeLineText {
  fill: #666;
  font-weight: normal;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}
