

.contentContainer {
  display: flex;
  flex-direction: row;
  max-width: 990px;
  margin: 100px auto 150px;
}

.content {
  position: relative;
  max-width: 600px;
  margin: 0 auto 0 auto;
  padding: 0 20px;
}

/* begin: title and sub title */
.header1 {
  font-size: 38px;
  font-size: 2.375rem;
  line-height: 48px;
  line-height: 3rem;
  text-align: center;
  color: #47525d ;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 10px;
}

.subCopy {
    font-family: 'webfont', Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 30px;
    line-height: 1.875rem;
    text-align: center;
    color: #47525d;
    -webkit-font-smoothing: antialiased;
}
/* end: title and sub title */
